* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.slide-container {
    max-width: 1000px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

i {
    color: #3B668D;
    margin: 0 1rem;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

section::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
}

section::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

section::-webkit-scrollbar-thumb {
    background-color: #3B668D;
    outline: 1px solid #eee;
     /* border-radius: 100px; */
}

.fa-chevron-right {
    position: relative;
    left: 48%;
    top: 263.6px;
    z-index: 10;
    cursor: pointer;
}

.fa-chevron-left {
    position: relative;
    right: 48%;
    top: -240px;
    z-index: 10;
    cursor: pointer;
}